.footer {
  color: #fff;
  letter-spacing: 0.05em;
  background-color: @green;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.58);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer__title {
  margin-top: 0;
  font-size: 22px;
}

.footer__list {
  .reset();
  list-style: none;
  font-size: 18px;
  
  i {
    margin-right: 10px;
    font-size: 22px;
  }
  
  li {
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.footer__column {
  ul {
    .reset();
    list-style: none;
    
    li {
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
  
  span {
    letter-spacing: normal;
  }
}

.footer__info {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #4c7603;
  font-size: 12px;
  
  p {
    margin: 0;
  }
}

.footer__phone {
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: normal;
}

.footer__link {
  margin-top: 10px;
  display: block;
  font-size: 17px;
  text-decoration: underline;
  letter-spacing: 0.15em;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.footer__call {
  margin-top: 25px;
  width: 229px;
  height: 43px;
  font-size: 16px;
  color: #000;
  letter-spacing: 0.09em;
  background-color: #b7da7a;
  
  i {
    transform: scaleX(-1);
    margin-right: 10px;
  }
}
