.result {
  padding-top: 5px;
  padding-bottom: 60px;
  background-color: #ececec;
}

.result__block {
  position: relative;
}

.result__slider {
  width: 910px;
  margin-left: auto;
  margin-right: auto;
}

.result__slide {
  width: 445px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.result__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.result__img {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.result__info {
  width: 255px;
  color: #2a2924;
  font-size: 14px;
  letter-spacing: 0.025em;
}

.result__name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}

.result__positive {
  margin-top: 0;
  margin-bottom: 10px;
  color: @green;
}

.result__negative {
  margin-top: 0;
  margin-bottom: 10px;
}

.result__prev,
.result__next {
  width: 25px;
  height: 26px;
  background-image: url(../img/icon-arrow-green.png);
  background-size: 17px 26px;
  outline: none;
  top: 60%;
}

.result__prev {
  left: 15px;
  transform: rotate(180deg);
}

.result__next {
  right: 15px;
}

.result__output {
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.025em;
  background-color: @green;
  
  p {
    margin: 0;
    margin-bottom: 5px;
    line-height: 1.2;
  }
}

.result__title {
  font-size: 20px;
}
